.demo--clip-path {
  height: 90%;

  pre[class*="language-"],
  code[class*="language"] {
    width: 100%;
    white-space: normal;
  }
}

.clip-path {
  position: relative;
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  outline: 1px dashed #CCC;

  .text-centered & {
    margin: auto;
    width: 250px;
    height: 250px;
  }
  .text-centered &--heart {
    width: 200px;
    height: 200px;
  }
}

.clip-path::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../../assets/img/demo/yoksel-zok-Z_rdomcVLwE-unsplash.jpg);
  background-size: cover;;
}

// Inset
.clip-path--inset::before {
  clip-path: inset(10px 20px);
}
.clip-path--inset-round::before {
  clip-path: inset(10px 20px round 20%);
}
.clip-path--inset-leaf::before {
  clip-path: inset(10px 20px round 20% 0);
}

// Circle
.clip-path--circle-at-center::before {
  clip-path: circle(50% at 50% 50%);
}
.clip-path--circle-at-left::before {
  clip-path: circle(50% at 0% 50%);
}
.clip-path--circle-at-top-left::before {
  clip-path: circle(65% at 75% 25%);
}

.clip-path--ellipse::before {
  clip-path: ellipse(30% 50% at 70% 50%);
}

// Polygon
.clip-path--rhomb::before {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.clip-path--polygon::before {
  clip-path: polygon(68% 0%, 100% 34%, 96% 76%, 37% 100%, 0% 76%, 23% 20%);
}
.clip-path--polygon-animated::before {
  clip-path: polygon(52% 2%, 68% 34%, 83% 64%, 100% 100%, 55% 100%, 0% 100%, 16% 70%, 35% 35%);
  animation: clip-path-poly 7s infinite;
}

@keyframes clip-path-poly {
  33% {
    clip-path: polygon(50% 28%, 100% 2.5%, 75% 45%, 100% 100%, 50% 67%, 0% 100%, 26% 50%, 0% 0%);
  }
  66% {
    clip-path: polygon(50% 0%, 100% 0%, 100% 45%, 100% 100%, 50% 100%, 0% 100%, 0% 50%, 0% 0%);
  }
}

// SVG
.clip-path--star::before {
  clip-path: url("#path-star");
}
.clip-path--heart::before {
  clip-path: url("#path-heart");
}

.clip-path--heart-rel,
.clip-path--heart-abs {
  outline: 1px dashed #CCC;
}

.clip-path--heart-abs {
  outline: 1px dashed #CCC;

  &::before {
    clip-path: url("#path-heart-abs");
  }
}

.clip-path--leaf::before {
  clip-path: url("#path-leaf");
}

.demo--clip-path-text {
  // justify-content: space-between;

  .demo__item {
    flex-basis: calc(50% - 4rem);

    &:first-child {
      margin-right: 4rem;
    }

  }
}

.clip-path--poly-text {
  width: auto;
  max-width: 100%;
  height: auto;
  padding: 2.5rem 4rem;
  box-sizing: border-box;
  background: linear-gradient(
    to right bottom,
    hotpink 5%, steelblue, teal 110%);
  outline: none;
  clip-path: polygon(6% 0%, 94% 0%, 100% 30%, 94% 100%, 6% 100%, 0% 65%);
  color: #FFF;
  line-height: 1.5;
  hyphens: auto;

  &::before {
    content: none;
  }
}
